:root {
  --title-color: #111111;
  --main-background-color: #e2e2e2;
  --secondary-background-color: #FFFFFF;
  --second-text-color: #FFFFFFB2;
  --text-color: #212121;
  --theird-text-color: #111111;
  --accent-color: #FD9222;
  --theird-bg-color: #1E1823;
  --border-color: #FFFFFF80;
  --mobile: 365px;
  --tablet: 734px;
  --desktop: 1166px;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul, p, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

ul, a {
  list-style: none;
  text-decoration: none;
}

body {
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  padding-left: 15px;
  padding-right: 15px;
  background-color: var(--main-background-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

span {
  color: var(--accent-color);
}

.menu-button.is-open {
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  border-radius: 50%;
}

.menu-button.is-open .icon-open {
  display: none;
}

.menu-button .icon-open {
  display: block;
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button .icon-close {
  display: none;
}

.container {
  width: 1136px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: solid 1px red;
}
@media screen and (min-width: var(--mobile)) {
  .container {
    width: var(--mobile);
  }
}
@media screen and (min-width: var(--tablet)) {
  .container {
    width: var(--tablet);
  }
}
@media screen and (min-width: var(--desktop)) {
  .container {
    width: var(--desktop);
  }
}

.header .container {
  width: var(--mobile);
}
.header .logo {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -3%;
  color: var(--title-color);
}
.header span {
  color: inherit;
  font-style: italic;
}
.header .logo-icon {
  width: 21px;
  height: 21px;
  padding: 4px;
}
@media screen and (max-width: 733px) {
  .header .contacts {
    display: none;
  }
}
@media screen and (max-width: 733px) {
  .header .social-list {
    display: none;
  }
}

.menu.is-open {
  display: flex;
}

.menu-button {
  display: flex;
  justify-content: end;
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 2;
  border: none;
  background-color: transparent;
  padding: 10px;
}
@media screen and (min-width: var(--tablet)) {
  .menu-button {
    display: none;
  }
}

.menu-button.is-open {
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  border-radius: 50%;
}

.menu-button.is-open .icon-open {
  display: none;
}

.menu-button .icon-open {
  display: block;
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button .icon-close {
  display: none;
}

.intro .container {
  background-image: url(../img/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 395px;
  padding-bottom: 20px;
  border-radius: 50px;
  width: var(--mobile);
}
@media screen and (min-width: var(--mobile)) {
  .intro .container {
    width: var(--mobile);
  }
}
.intro .title {
  font-family: inherit;
  color: var(--secondary-background-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -3%;
  width: 299px;
  height: 72px;
  margin-bottom: 32px;
}
.intro .scroll {
  font-family: inherit;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -3%;
  gap: 12px;
  color: var(--secondary-background-color);
  display: flex;
  align-items: center;
}
.intro .angle {
  width: 16px;
  height: 16px;
  background-color: var(--secondary-background-color);
  border-radius: 100px;
  width: 28px;
  height: 28px;
  transform: rotate(-90 deg);
}

.buttons {
  display: flex;
  gap: 14px;
}

.buy {
  font-family: inherit;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  background-color: var(--accent-color);
  color: var(--secondary-background-color);
  border: transparent;
  width: 120px;
  height: 41px;
  border-radius: 100px;
}

.button {
  font-family: inherit;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  background-color: transparent;
  border: var(--accent-color);
  width: 120px;
  height: 41px;
  border-radius: 100px;
  color: var(--secondary-background-color);
}

.features .container {
  width: var(--mobile);
  background-color: var(--theird-bg-color);
  padding: 20px;
}
@media screen and (min-width: var(--mobile)) {
  .features .container {
    width: var(--mobile);
  }
}
.features .features-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--secondary-background-color);
}
.features .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -2%;
  color: var(--second-text-color);
  margin-top: 18px;
  width: 308px;
}
.features .features-icon {
  width: 28px;
  height: 28px;
  margin-bottom: 39px;
  border: solid var(--border-color) 1px;
  border-radius: 365px;
}
.features .item:nth-child(2) {
  margin-top: 38px;
}
.features .item:nth-child(3) {
  margin-top: 38px;
}

.taste .container {
  width: var(--mobile);
}
.taste .taste-title {
  width: 283px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -3%;
  text-align: center;
  margin-top: 72px;
}
.taste .taste-text {
  color: var(--theird-text-color);
  width: 335px;
  line-height: 18px;
  letter-spacing: -2%;
  margin-bottom: 32px;
  margin-top: 24px;
  text-align: center;
}
.taste .item {
  padding: 28px;
  width: 335px;
  border-radius: 15px;
  text-transform: uppercase;
}
.taste .item:nth-child(1) {
  margin-bottom: 20px;
}
.taste .item:nth-child(2) {
  margin-bottom: 20px;
}
.taste .item:nth-child(3) {
  margin-bottom: 20px;
}
.taste .item:nth-child(1) {
  background-color: var(--accent-color);
  color: var(--secondary-background-color);
}
.taste .item:nth-child(3) {
  background-color: var(--theird-bg-color);
  color: var(--secondary-background-color);
}
.taste .item:nth-child(2) {
  border: solid 1px var(--accent-color);
}
.taste .item:nth-child(4) {
  border: solid 1px var(--accent-color);
}/*# sourceMappingURL=main.css.map */