.chocolate{
  @media screen and(max-widht: 733px){
    .item:nth-child(2){
      display: none;
    }
    .item:nth-child(3){
      display: none;
    }
  }

  .people{
    border-radius: 50%;
    width: 80px;
    height: 80px;
  }

  .text{
font-weight: 400;
font-size: 14px;
line-height: 18px;
letter-spacing: -2%;
text-align: center;
margin-top: 24px;
  }

  .name{
font-size: 18px;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
margin-top: 18px;
  }

  .button{
    border-color: var(--accent-color);
  }
}