.chocolate{

  .container{
    text-align: center;
  }

  .wrapper{
    display: flex;
    justify-content: center;
  }

  .shell{
    padding: 42px 18px;
    border-radius: 5%;
    background-color: #fff;
  }

  .people{
    border-radius: 50%;
    width: 80px;
    height: 80px;
  }

  .text{
font-weight: 400;
font-size: 14px;
line-height: 18px;
letter-spacing: -2%;
margin-top: 24px;
  @media screen and (min-width: 734px) {
    width: 312px;
  }
  }

  .name{
font-size: 18px;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
margin-top: 18px;
  }

  .button{
    border: solid var(--accent-color) 1px;
    color: var(--title-color);
    margin-top: 32px;
  }
}