.explore{
  padding: 28px 0;

  .container{
  background-image: url(../img/footer-image.jpg);
    background-repeat: no-repeat;
    background-size: 1300px;
    background-position: center;
    padding: 62px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .title{
    color: var(--secondary-background-color);
    text-align: center;
    @media screen and (min-width: 734px) {
      width: 390px;
    }
  }

  .text{
    color: var(--secondary-background-color);
    text-align: center;
    margin-bottom: 24px;
      @media screen and (min-width: 734px) {
      width: 490px;
    }
  }
}