.header{
    
  .logo{
text-transform: uppercase;
font-weight: 700;
font-size: 14px;
line-height: 18px;
letter-spacing: -3%;
color: var(--title-color);
}

span{
    color: inherit;
font-style: italic;
}

.logo-icon{
    width: 21px;
    height: 21px;
    padding: 4px;
}

.contacts{
    @media screen and (max-width: 733px){
      display: none;
    }   
}
    
.social-list{
    @media screen and (max-width: 733px){
      display: none;
    }  
}
}


.menu{
    &.is-open{
        display: flex;
    }
}

.menu-button{
    display: flex;
    justify-content: end;
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 2;
    border: none;
    background-color: transparent;
    padding: 10px;
    @media screen and (min-width: var(--tablet)){
        display: none;
    }
}

.menu-button.is-open{
    border: 1px solid #0000001A;
    border-radius: 50%;
}

.menu-button.is-open .icon-open{
    display: none;
}

.menu-button .icon-open{
    display: block;
}

.menu-button.is-open .icon-close{
    display: block;
}

.menu-button .icon-close{
    display: none;
}