.products {
  padding: 36px 0;

  .top-title {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -2%;
    text-transform: uppercase;
    margin-bottom: 2px;
  }

  .text {
    font-size: 12px;
    color: #111111b2;
    margin-bottom: 18px;
  }

  .button {
    color: var(--title-color);
    border: solid 1px #1111111a;
    background-color: #fafafa;
  }

  button.slider{
    color: var(--accent-color);
  }
}
