.top{
  
  padding: 36px 0;

  .title{
font-size: 20px;
line-height: 24px;
letter-spacing: -3%;
text-align: center;
text-transform: uppercase;
margin-bottom: 32px;
  }

.item:nth-last-child(1) {
  display: none;
}

  .text{
font-weight: 400;
font-size: 14px;
line-height: 18px;
letter-spacing: -2%;
  }
}
  .buy{
    margin-top: 20px;
}