.top{
  padding: 36px 0;

  .wrapper{
    text-align: center;
      @media screen and (min-width: 734px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
        .text{
    @media screen and (max-width: 1166px) {
    width: 306px;
  }
    @media screen and (max-width: 735px) {
      display: none;
  }
}
        }

      .top-text{
              margin-top: 20px;
              margin-bottom: 32px;
            @media screen and (min-width: 734px) {
              display: none;
  }
        }

  .buy{
    margin-top: 20px;
  }
  
.list{
  @media screen and (min-width: 734px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
    @media screen and (min-width: 734px) {
    flex-wrap: nowrap;
  }
}

.item{
  border-radius: 15px;
      @media screen and (min-width: 734px) {
      flex-basis: calc((100% - 0px) / 2);
    }
}

.item:nth-last-child(1) {
  @media screen and (max-width: 1165px) {
    display: none;
  }
}

  .text{
font-weight: 400;
font-size: 14px;
line-height: 18px;
letter-spacing: -2%;
margin-top: 20px;
margin-bottom: 32px;
  }

img{
  width: 344px;
  height: 464px;
}
}
  