:root{
    --title-color: #111111;
    --main-background-color: #e2e2e2;
    --secondary-background-color: #FFFFFF;
    --text-color: #212121;
    --theird-text-color: #111111B2;
    --akcent-color: #FD9222;
    --theird-bg-color: #1E1823;

    --mobile: 365px;

    --tablet: 734px;
    
    --desktop: 1166px;
}
