:root{
    --title-color: #111111;
    --main-background-color: #e2e2e2;
    --secondary-background-color: #FFFFFF;
    --text-color: #212121;
    --secondary-text-color: #FFFFFF;
    --theird-text-color: #111111B2; 

    --mobile: 365px;

    --tablet: 734px;
    
    --desktop: 1166px;
}
